<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <h1 class="home__title">Post editor</h1>
  <main class="editor__container">
    <button type="button" class="saveBtn">SAVE</button>
    <button type="button" class="loadBtn">LOAD</button>
    <div id="editorjs"></div>
    <div class="output"></div>
  </main>
</body>

</html>