<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0"
    />
    <title>Document</title>
  </head>

  <body>
    <navigation-bar></navigation-bar>
    <div class="admin__navigation">
      <h1>Admin panel</h1>
      <div class="admin__categories">
        <ul>
          <li>
            <h3 class="bg--color-active">New post</h3>
          </li>
          <li>
            <h3>Manage posts</h3>
          </li>
          <li>
            <h3>Manage users</h3>
          </li>
          <li>
            <h3>My account</h3>
          </li>
        </ul>
      </div>
    </div>
    <main class="admin__container"></main>
    <!-- <button type="button" class="loadBtn">LOAD</button>
    <button class="token">TOKEN</button>
    <button class="logout">logout</button> -->
    <div id="otput"></div>
  </body>

  <template id="editor__template">
    <h3>Add title</h3>
    <div>
      <input type="text" id="editor__title" placeholder="Post title" />
    </div>
    <h3>Add introduction - it will be wisible in blog post miniature</h3>
    <div class="editor__flex">
      <div id="subheading-editor"></div>
    </div>
    <h3>Add blog post body</h3>
    <div class="editor__flex">
      <div id="editor"></div>
    </div>
    <div class="editor__buttons">
      <button class="editor__button">Publish post</button>
      <button class="editor__button">See preview</button>
    </div>
  </template>
  <template id="post__template">
    <div class="post__legend">
      <p class="post__number">num</p>
      <p sorted="0" sort="title" class="post__title">title</p>
      <p sorted="0" sort="author" class="post__author">author</p>
      <p sorted="0" sort="date" class="post__date">date</p>
      <div class="post__btns">
        <p>options</p>
      </div>
    </div>
    <div class="post__row">
      <p class="post__number"></p>
      <p class="post__title"></p>
      <p class="post__author"></p>
      <p class="post__date"></p>
      <div class="post__btns">
        <button class="post__btn"><img src="../../assets/svg/edit.svg" alt="edit post" /></button>
        <button class="post__btn">
          <img src="../../assets/svg/delete.svg" alt="delete post" />
        </button>
      </div>
    </div>
  </template>
  <template id="user__template">
    <div class="user__legend">
      <p class="user__number">num</p>
      <p sorted="0" sort="name" class="user__author">name</p>
      <p sorted="0" sort="date" class="user__date">date</p>
      <div class="user__btns">
        <p>options</p>
      </div>
    </div>
    <div class="user__row">
      <p class="user__number"></p>
      <p class="user__author"></p>
      <p class="user__date"></p>
      <div class="user__btns">
        <button class="user__btn"><img src="../../assets/svg/edit.svg" alt="edit user" /></button>
        <button class="user__btn">
          <img src="../../assets/svg/delete.svg" alt="delete user" />
        </button>
      </div>
    </div>
    <div class="editor__buttons">
      <button class="editor__button">Generate Token</button>
    </div>
  </template>
  <template id="account__template">
    <div class="account__data">
      <img src="../../assets/img/authorimgbig.png" alt="" />
      <h2 class="account__name"></h2>
      <h2 class="account__email"></h2>
    </div>
    <div class="account__edit hide">
      <input class="input__name" type="text" />
      <input class="input__email" type="text" />
    </div>
    <div class="editor__buttons">
      <button class="editor__button btn-edit">Edit Account</button>
      <button class="editor__button btn-save hide">Save Account</button>
    </div>
  </template>
</html>
