<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <navigation-bar></navigation-bar>
  <div class="about__container"></div>
</body>
<template id="card__template">
  <div class="about__card">
    <div class="about__author">
      <img src="https://api.adorable.io/avatars/128/mk" alt="" class="author__img" />
      <div class="image__loader"></div>
      <div class="author__data">
        <h3 class="author__name">Kupa Koń</h3>
        <h3 class="author__email">kupakoń2137@gmajl.com</h3>
      </div>
    </div>
    <p class="about__bio">
      Nunc ut egestas lectus. Donec venenatis convallis ex, in porta velit scelerisque quis. Duis
      id eleifend ipsum. Nulla vel feugiat quam. Integer maximus, lectus et varius laoreet, mauris
      magna sagittis quam, at semper massa nunc ut libero. Nam interdum nunc quis turpis varius,
      ut porttitor ante pretium. Nullam feugiat felis eget neque aliquet, in facilisis velit
      rhoncus.
    </p>
  </div>
</template>

</html>