@import '../style.scss';
@import '../shared/blog-post.scss';
@import '../shared/mixins.scss';
@import '../shared/colors.scss';

.editor__container {
  display: flex;
  justify-content: center;

  #editor {
    width: 96rem;
    background: $mainPlainColor;
    min-height: 50vh;
    @include textOpenSansLight(1.6rem, $headerText);
  }
}