<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div class="article">
        <h1>Nulla pellentesque, mauris at blandit dictum</h1>
        <div class="article__data">
            <div class="article__author">
                <img src="../../assets/img/authorimg.png" class="article__author-avatar" alt="">
                <div>
                    <div class="article__author-name">Mateusz Grzegorczyk</div>
                    <div class="article__date">2020-02-11</div>
                </div>
            </div>
            <div class="articel__media">
                <a href="#" class="article__media-link"><img src="../../assets/img/twitter.png" alt=""
                        class="article__media-icon"></a>
                <a href="#" class="article__media-link"><img src="../../assets/img/facebook.png" alt=""
                        class="article__media-icon"></a>
                <a href="#" class="article__media-link"><img src="../../assets/img/commentlogo.png" alt=""
                        class="article__media-icon"></a>
            </div>
        </div>
    </div>
</body>

</html>